
body {
    font-family: 'Metrophobic', sans-serif;
    background: url('background-image.jpg') fixed;
    color: #363946;
}


.logo > img {
    width: 10px;
  }

.titleHead {
  margin-bottom: 5px;
  font-size: 25px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleQuiz {
  font-size: 18px;
  background-color: skyblue;
  text-align: center;
  color: aliceblue;
  font-family: verdana;
  padding: 30px;
  margin-top: 90px;
  border-radius: 10px;
}


.flex-button {
  background-color:	#6495ED;
  text-align: center;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  margin: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li{
  height: 20px;
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
}

.questionCount{
  background-color: blanchedalmond;
}


.currentScore{
  background-color: bisque;
}
.currentQuestion {
  background: white;
  border-radius: 12px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.answerForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  padding: 10px;
  margin: 10px;
}

label{
  display: block;
  height: 50px;
  width: 100%;
  background-color: skyblue;
  margin-bottom: 8px;
  border-radius: 12px;
  color: white;
  text-align: center;
}

label:hover{
  background-color: rgb(89, 138, 211);
}

input{
  visibility:hidden;
 
}

.submit-button{
  background-color:	#6495ED;
  text-align: center;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.result-box {
  height: 230px;
  width: 300px;
  background-color: skyblue;
  margin: 50px 20px 20px 20px;
  padding: 10px;
  border-radius: 12px;
  color: white;
  text-align: center;
}

.logo-box {
  display: block;
  margin: auto;
  width: 20%;
  padding-bottom: 20px;
}


.result-button{
  background-color:	#6495ED;
  text-align: center;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

/*Computer screen */
@media screen and (min-width: 900px){
  header {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
